name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"

      - name: Install System Dependencies
        run: |
          sudo apt update
          sudo apt install -y \
            git zip unzip \
            openjdk-17-jdk

      - name: Install Build Tools
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Build APK
        run: yes | buildozer android debug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
