name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.10

      - name: Install Buildozer dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Create buildozer.spec
        run: |
          buildozer init
          
          sed -i "s/^title = .*/title = Tadil App/" buildozer.spec
          sed -i "s/^package.name = .*/package.name = tadilapp/" buildozer.spec
          sed -i "s/^package.domain = .*/package.domain = org.tadil/" buildozer.spec
          sed -i "s/^source.include_exts = .*/source.include_exts = py,ttf/" buildozer.spec
          sed -i "s/^requirements = .*/requirements = python3,kivy,arabic_reshaper,python-bidi==0.4.2,openpyxl,plyer/" buildozer.spec
          sed -i "s/^orientation = .*/orientation = portrait/" buildozer.spec
          sed -i "s/# android.api = .*/android.api = 33/" buildozer.spec
          sed -i "s/# android.minapi = .*/android.minapi = 21/" buildozer.spec
          sed -i "s/# android.arch = .*/android.archs = arm64-v8a,armeabi-v7a/" buildozer.spec

      - name: Build APK
        run: |
          buildozer -v android debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: apk
          path: bin/*.apk
