name: Build Android

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install system dependencies
        run: |
          sudo apt update
          sudo apt install -y zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev git

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install buildozer cython==0.29.36

      - name: Accept Android licenses
        run: yes | sdkmanager --licenses || true

      - name: Build Debug APK
        run: |
          buildozer -v android debug

      - name: Build Release AAB
        run: |
          buildozer -v android release

      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: android-build
          path: bin/*
